@font-face {
  font-family: 'Qanelas-Bold';
  src: url("fonts/QanelasSoft-ExtraBold.otf");
  font-weight: bold;
}

@font-face {
  font-family: 'Qanelas-Regular';
  src: url("fonts/QanelasSoft-Regular.otf");
  font-weight: normal;
}

#demo{

	font-size:90px;
	font-family: 'Qanelas-Bold', sans-serif;
	color:#fff;
	text-align:center;
	margin-bottom:0px;
	margin-top: 0px;
}

.countdownWrapper{
	margin-top:30px;

}

.subHead{

	font-family: 'Qanelas-Regular', sans-serif;
	font-size: 30px;
	text-align: center;
	color: #fff;
	margin-top:5px;
	text-transform: uppercase;
	/*color: #014477;*/
	letter-spacing: 3px;
}

body{
	background: #014477;
}

img{
	margin-top: 100px;
	margin-bottom:0px;
	width: 30%;
}