#demo{

	font-size:90px;
	font-family: 'Poppins', sans-serif;
	color:#fff;
	text-align:center;
	margin-bottom:0px;
	margin-top: 0px;
}

.countdownWrapper{
	margin-top:150px;

}

.subHead{

	font-family: 'Poppins', sans-serif;
	font-size: 35px;
	text-align: center;
	color: #fff;
	margin-top:5px;
	text-transform: uppercase;
	color: #014477;
	letter-spacing: 3px;
}

body{
	background: #0678CF;
}

img{
	margin-top: 100px;
	margin-bottom:0px;
	width: 30%;
}